.ajoutobjet-container{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}


label{
  margin-top: 2vh;
}

.ajoutobjet-container div{

  margin-top: 3vh;
}
